/* =============
    DEMO GSAP / JS  Intro
    ============= */



.box{
    height: 200px;
    width: 200px;
    margin: 0;
}

.red-box{
    background-color: red;
}
.blue-box{
    background-color: blue;
}
.green-box{
    background-color: green;
}