/* =============
    Demo Stagger
============= */
section div{
    height: 200px;
    width: 200px;
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

.box{
    padding: 0;
}

.red-box{
    background-color: $red;
}
.blue-box{
    background-color: $blue;
}
.green-box{
    background-color: $green;
}